@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
header{
background-color: #000c0a;
padding-block: .8rem;
}

.genLayout{
  max-width: 900px;
  margin: auto;
  padding-block: 2rem;
}


nav{
    /* border:2px solid; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    max-width: 800px;
    margin: auto;
}


nav>a{
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 13px;
}
nav>a:first-child{
    font-weight: 600;
    color: #106854;
    margin-top: 9px;
    padding-bottom: .5rem;
    border-bottom: 2px solid #106854;
}

nav>button{
    background-color:#27e1b4;
    border: none;
    padding: .4rem .1rem;
    color: #fff;
    border-radius: 9px;
    font-size: 10px;
}
.banner{
    color: #dddfdf;
    display: flex;
    /* gap:7rem */
    justify-content: space-between;
}
.bannerContent{
    width: 43%;
}

.bannerContent>h1{
    text-transform: uppercase;
    font-size: 2.3rem;
    width: 450px;
}

.bannerContent>h1>span{
    color: #27e1b4;
}

.bannerContent>p{
    font-size: 12px;
    color: #8b9190;
    margin-block: .5rem;
}
 
.bannerContent>button{
    background-color: #27e1b4;
    padding: .3rem 1.2rem;
    border: none;
    border-radius: 8px;
    color: #fff;
    text-transform: capitalize;
}

form{
    width: 250px;
    padding: 2rem;
    border: 1px solid grey;
    background-color: #ffffff05;
    border-radius: 15px;
}

.btn{
    display: flex;
    gap: 5px;
}

.btn>button{
    border-radius: 2px;
    font-size: 10px;
    font-weight: 600;
    border: none;
    text-transform: capitalize;
    color: #fff;
    padding: .3rem 2.6rem;
    background-color: #27e1b4;
}

.inputBox{
    margin-top: 1rem;
}

.inputBox>label{
    margin-bottom: 5px;
    font-size: 10px;
    gap: 3px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.fa-asterisk{
    font-size: 5px;
    color: #27e1b4;
}

.inputBox>select{
    background-color: transparent;
    width: 100%;
    border-radius: 7px;
    padding: .2rem 7px;
    color: #fff;
    font-size: 8px;
    text-transform: capitalize;
}

.innerInputBox{
    display: flex;
}

.innerInputBox>input{
 border: 1px solid gray;
 width: 100%;
 background-color: transparent;
 border-top-left-radius: 7px;
 border-bottom-left-radius: 7px;
 padding: .2rem;
 color: #fff;
 font-size: 10px;
text-transform: capitalize;
}

.innerInputBox>input::placeholder{
    font-size: 8px;
    font-weight: 600;
    padding-left: 7px;
}

.innerInputBox>select{
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .2rem;
    color: #fff;
    font-size: 10px;
    text-transform: capitalize;
    background-color: #27e1b4;
}

.innerInputBox>select{
    font-size: 7px;
    text-transform: uppercase;
}

form>button{
    background-color: #27e1b4;
    width: 100%;
    margin-block: 1rem;
    padding: .4rem;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
}

/* section one styling */
.secOne{
    background-color: #011916;
}

.investLayout{
    color: #fff;
    display: flex;
    align-items: center;
    gap: 30px;
}

.investContent{
    width: 50%;
}
.investContent>h1{
    font-size: 25px;
}

.investContent>p{
    font-size: 14px;
    margin-block: 1rem;
}
.money{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: .7rem;
}

.money>img{
    height: 40px;
    width: 40px;
}

.moneyText>span{
    font-size: 12px;
}

.moneyImg{
    width: 30%;
}

.moneyImg>img{
    width: 100%;
}


/* styling for section two */
.secTwo{
    background-color: #000c0a;
    color: #fff;
}

#services>h1{
    text-align: center;
    color: #27e1b4;
}


.serviceOption{
    margin-block: 1rem;
    display: flex;
    gap: 25px;
}

.serviceCard>img{
    width:60px;
}

.innerServiceCard{
    padding-left: .2rem;
    border-left: 2px solid #27e1b4;
}

.innerServiceCard>h5{
    text-transform: capitalize;
}

.innerServiceCard>p{
    font-size: 11px;
    line-height: 15px;
}

/* responsive styling */
@media(min-width:360px) and (max-width: 460px){

    nav{
        justify-content: center;
    }

    .banner{
        width:330px;
        gap: 40px;
        flex-direction: column;
    }

    .bannerContent{

        width: 100%;
    }

  .bannerContent>h1{
       width: 100%;
  }

  .investLayout{
    width: 330px;
    flex-direction: column;
  }

  .investContent{
    width: 100%;
  }
  
  .investContent>p{
    margin-block: 1rem;
  }



.moneyImg{
    width: 70%;
}
.money>img{
    height: 30px;
    width: 30px;
}

.serviceOption{
    width: 330px;
    margin: auto;
    flex-direction: column;
}

}






























